html, body {
	margin: 0;
	padding: 0;
}

#container {
	width: 300px;
  	height: 250px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;  	
            box-sizing: border-box;
  	overflow: hidden;
  	border: 1px black solid;
}